/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

:root {
  --ifm-color-primary: #367ad3;
  --ifm-color-primary-dark: #2b6dc4;
  --ifm-color-primary-darker: #2867b9;
  --ifm-color-primary-darkest: #215598;
  --ifm-color-primary-light: #4c88d8;
  --ifm-color-primary-lighter: #5790da;
  --ifm-color-primary-lightest: #77a5e1;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --ifm-color-primary: #8ac9f0;
  --ifm-color-primary-dark: #68baec;
  --ifm-color-primary-darker: #58b2ea;
  --ifm-color-primary-darkest: #259be3;
  --ifm-color-primary-light: #acd8f4;
  --ifm-color-primary-lighter: #bce0f6;
  --ifm-color-primary-lightest: #eff7fd;
}
